body{
    margin: auto;
}

header{
    height: 55px;
    width:100%;
    background-color: rgb(149 196 201);
   

}
#Name{
    float: left;
    margin-left: 4%;
    margin-bottom: 2%;
    font-weight: bold;
    font: italic;
   
}
#social{
    float: right;
    margin: 2%;
    
}

.Icon1{
    width: 22px;
}

a{
    text-decoration: none;
}
.heading{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0.5%;
    font-style:normal;
    color:white;
    background-color:#648791;
    width:100%;
    

}
.ft{
    line-height: 2;
    margin-left:4px;
}
.mainheading{
    height: 820px;
    width: 70%;
    
    margin-left: 180;
    margin-top: 40;
}
#main{
    height: 450px;
    width: 20%;
   border:05px solid grey;
    float: left;
    
  
    
    

}
.all{
    font-size: 10;
}
.filter{
    font-size: 10;
}
filter > input{
    font-size: 10;
}
#tile{
    height: 820px;
    width: 650;
   
    margin-left: 200;
    
    
    
    

}
.ab{
    height:230px;
    width:600;
    box-shadow: 10px 20px 10px grey;;
    margin-top: 280;
    border-radius: 4%;
}

.card{
    height:230px;
    width:600;
    box-shadow: 10px 20px 10px grey;
    margin-left: 3%;
    border-radius: 4%;
    float: left;
   

}

#img{ height: 200;
    width: 300;
    
    float: left;
    
    
}
.img2{
    height: 200;
    width:300;
}

#content{
    height: 220;
    width: 280;
   
    float: left;
    margin-left: 2%;
}
.lorem{
    
    width: 300;
    margin-top: 22;
    font-size: 12;
    color:#1a2b52;
    font-weight: bold;
   
   
}
#good{
    font-size: 12;
    font-weight: bold;
}
#rs{
    font-size: 12;
    font-weight: bold;
}
.lunch{
    height: 30;
    width: 150;
    margin-top: 20;

    
}



    footer {
        
        background-color: rgb(149 196 201);
        width: 100%;
        
    }



.foot{
    height: 130px;
    width: 23%;
    margin-top: 1%;

    float: left
    
    
}
.load{
    height: 20px;
    width: 20px;
    ;
}
#nm{
    margin-left: 8%;
    font-weight:bold ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
#dev{
    display: inline-block;
}
.last{
    color:#423e3e;
}
.dm{
    height: 30;
    width: 300;
   
    margin-top: 20;
}
#box1{
    height:20;
    width:70;
    color: white;
    float: left;
    background-color: chocolate;
    box-shadow: 3px 5px 3px grey;
    border-radius:3px;
    

}
#box2{
    height:20;
    width:70;
    color: white;
    background-color: rgb(20, 93, 177);
    margin-left: 80;
    
    box-shadow: 3px 5px 3px grey;
    border-radius:3px;

}
#boxa{
    height:20;
    width:80;
    color: white;
    float: left;
    background-color: rgb(20, 93, 177);
    box-shadow: 3px 5px 3px grey;
    border-radius:3px;
   
}
#boxb{
    height:20;
    width:80;
    color: white;
    background-color: rgb(237 187 40);
    margin-left: 90;
    margin-top:35;
    box-shadow: 3px 5px 3px grey;
    border-radius:3px;
}
@media screen and (max-width:927px){
    body{
        background-color: rgb(255, 255, 255);
    }
        .mainheading {
            height: 820px;
            width: 700px;
           
            margin-left: 37px;
            margin-top: 40;
        }
        


#tile {
    height: 820px;
    width: 650;
    margin-left: 128px;
   
}
   
}
@media screen and (max-width:1030px){
    body{
        background-color: rgb(255, 255, 255);
    }
    .mainheading {
        height: 820px;
        width: 70%;
        margin-left: 108px;
        margin-top: 40;
    }
}
@media screen and (max-width:900px){
    body{
        background-color: rgb(251, 250, 250);
    }
    .mainheading {
        height: 820px;
        width: 70%;
        margin-left: 47px;
        margin-top: 40;
    }
}


